[submodule "public"]
	path = public
	url = https://github.com/VictorNM/victornm.github.io.git
	branch = master
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
